/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top{
    background-color: rgb(56, 56, 56);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.06);
}

.navbar-nav {
    width: 100%;
}

.navbar-inner{
    display: flex;
}

.navbar li a:hover{
 color:white;
}

.logo {
    height:80px;
    width:80px;
}

/* Header */





/* ShoppingCart */
.shopping-cart{
    background-color: #20c997;
    padding: 8px 16px;
    color: #fff;
    border: 1px solid green;
    border-radius: 5px;
  
  }
  
  
  .shopping-cart i{
      padding-right: 6px;
  }
  .shopping-cart:hover {
      background-color: #198754;
  }
/* ShoppingCart */



/* Product Card */
#product1{
    text-align: center;
}

#product1 .game-ls{
    width: 25%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(56, 56, 56) ;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2sec ease;
}

#product1 .game-ls:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}


#product1 .game-ls img{
    width: 100% ;
    border-radius: 20px;
}



/* Product Card */


.container{
    padding-top: 0px;
    width: 100vw;
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
}

.games-container{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    margin: 20px 20px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}



.loginBox{
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    display: none;
}
.registerBox{
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    display: none;
}
.game{
    width: 200px;
    height: 200px;
    box-shadow: 0px 5px 5px 0px black;
}
.nav-link{
    cursor: pointer;
}
.footerbar{
    display: flex;
    box-sizing: content-box;
    justify-content: center;
}

.f1-row{
    margin: 0;
    padding:0;
    text-align: auto;
}



@media only screen and (max-width: 580px) {
    .container {
      flex-direction: column;
    }
  }